* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600&family=Exo&family=Numans&display=swap');

header {
    background-color: rgb(26, 25, 25);
    display: flex;
    padding: 20px;
    

}

.header_marcas {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logos {
    height: auto;
    width: clamp(100px, 25vw, 300px);
}


.carrusel {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.carousel,
.carousel-indicator,
.carousel-inner,
.carousel-item {
    height: 100%;
    width: 100%;
}

.inicio {
    display: flex;
    width: 100%;
    height: 100%;
}

.main1 {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
    font-weight: 400;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.preferencia {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px inset rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 30px;
    /* margin: 150px; */
}

footer {
    padding: 30px;
    background-color: rgb(26, 25, 25);
    color: white;
    font-family: 'Numans', sans-serif;
    font-weight: 300;

}

.iconos {
    width: 2rem;
}

/* .footer_map {
    width: 300px;
    height: 250px;
} */

iframe {
    width: 100%;
    height: 100%;
}

/* .redes {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
} */

svg {
    width: 30px;
    height: auto;
}

.contenedor-catalogo {
    display: flex;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.menu-catalogo {
    display: flex;
    width: auto;
}


.aside {
    background-color: rgb(26, 25, 25);
    width: 400px;
    text-align: center;
}

.aside .nav-link {
    color: white;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

.menu-lista {
    flex-direction: column;
    list-style: none;
    color: black;
    align-items: flex-start;
    background-color: #303030;
    padding: 20px;
    width: 100%;
    height: 100%;


}

.main-catalogo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.num-page {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


.background-input {
    background-image: url(../images/fondo\ de\ contacto.jpg);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;


}

.formulario {
    background-color: rgba(12, 11, 11, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    padding: 30px;
    margin: 150px;
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;

}

.form-label {
    color: white;
    margin-top: 20px;
}

.redes-form {
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.preferencia1 {
    background-color: rgba(255,255,255,0.7);
    border: 2px inset rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

.img-historia {
    width: 100%;
    height: auto;
    padding: 60px;
    
}

.section-historia {
    
    display: flex;
    flex-wrap: wrap;
    
    
}

article {
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 60px;
}

article img {
    height: auto;
    width: 300px;
}

.main-historia {
    background: linear-gradient(180deg, #09001c, #1a0725, #2b092b, #3e042d, #51002b, #620024, #700019, #7a0707);
    display: flex;
}