@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

.iconos-redes {
    width: 2rem;
    height: 2rem;
}

@media (min-width: 768px) {
    .btn-catalogo {
        display: none;
    }
}

body {
    background: linear-gradient(180deg, #000000, #151010, #2a1515, #3f1010, #540000);
    font-family: 'Numans', sans-serif;
    font-weight: 200;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px inset rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}    

.productos {
    border-radius: 0;
}

form {
    font-weight: bold;
}

.redes-form {
    font-weight: bold;
}

.emoji {
    font-size: 2rem;
}

.animacion-derecha { 
    animation: martilloLocoDerecha 2s ease-in-out infinite;
}

.animacion-izquierda { 
    animation: martilloLocoIzquierda 2s ease-in-out infinite;
}

@keyframes martilloLocoIzquierda {
    0%, 100% {
        transform: rotate(75deg) rotateY(180deg);     
    }
    50% {
        transform: rotate(-45deg) rotateY(180deg);
    }
}

@keyframes martilloLocoDerecha {
    0%, 100% {
        transform: rotate(75deg);     
    }
    50% {
        transform: rotate(-45deg);
    }
}
