$clr: (
    fondo: #212529,
    letras: white,
);

$gradient: linear-gradient(180deg, rgba(33,37,41,1) 5%, rgba(121,121,128,1) 62%, rgba(231,235,236,1) 100%);

$fuente: (
    titulofont: ('Exo', sans-serif),
    cuerpo: ('Numans', sans-serif),   
);

$fontsize: (
    chica: 1rem,
    mediana: 2rem,
    grande: 2.5rem, 
);
